@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 85vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .card {
    width: 20rem;
  }
}

@media screen and (min-width: 1080px) and (max-width: 3840px) {
  .card {
    width: 22rem;
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;   
  }

  .btnPin{
    width: 95%;
    border-radius: 50px;
    background-image: url('https://res.cloudinary.com/df2ahfbvy/image/upload/v1622143069/perfil/dyyikvtbms4u5iwujbcy.webp');
    background-size: cover;
    border: none;
    font-size: 1.5rem;
    padding: 5px;    
  }

  input.inputKey{
    width: 50%;    
    text-align: center;        
  }

  i.configKey{
    cursor: pointer;
    padding-top: 10px;    
  }

  div.panel::-webkit-scrollbar{
    display: none;
  }

  .bt-button{
    border: none;
    background-color: transparent;
    color: white;
  }

  .sqletIaIcAV{
    border: none;
    background-color: white;
  }

  .tab_IaIcAV{
    border: 1px solid black;    
  }

  table{
    border-collapse: collapse;
  }

  .thead_IaIcAV{
    text-align: center;
  }

  .tbody_IaIcAV{
    font-size: 16px;
    text-align: center;
  }

  td.td_IaIcAV1{
    background-color: transparent;
    width: 30%;
  }

  .input_IaIcAV{
    text-align: center;
    width: 100%;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 18px;
  }

  input{
    outline: none;
  }

  td.td_IaIcAV2{
    background-color: white;
    width: 70%;
  }  

  tr.tr_IaIcAV{
    background-color: white;
  }

  td.td_IacAV4{
    background-color: white;
  }

  .small_IaIcAV{
    font-size: 10px;
  }

  input.input_IaIcAV2{
    text-align: center;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 28px;
    width: 100%;
  }

  tr.tr_IaIcAV2{
    background-color: white;
    height: 590px;
  }

  tr.fondo_IaIcAV{
    background-image: url('https://res.cloudinary.com/df2ahfbvy/image/upload/v1622151632/perfil/jzgo7xdqdqzut0k22dhh.jpg');
    color: white;
    background-size: cover;
  }

  table{
    background-color: white;
  }

  td.td_IaIcAV6{
    width: 55vw;
    height: 590px;
    background-color: white;
  }

  .img_IaIcAv{
    width: 90%;
    height: 120px;
    padding-top: 10px;
    cursor: pointer;
  }

  .div_IaIcAV5{
    height: 100%;
    overflow: auto;            
  }

  .nav_IaIcAv{
    text-align: left;
  }

  .p_IaIAV{
    padding-left: 10px;
    cursor: pointer;
  }

  div.panelDiv{
    display: none;
  }

  .a_IaIcAV2{
    padding-left: 5px;
  }

  .p_IaIcAV2{
    cursor: pointer;
    text-align: left;
  }

  .i_IaIcAV{
    cursor: pointer;
  }

  div.div_IaIcAV51{
    height: 460px;
    overflow: auto;
  }

  button.btn_IaIcAV{
    border: none;
    width: 100%;
    text-align: center;
  }

  button:hover{
    color: white;
    background-color: transparent;
  }

  i.i_IaIcAV1{
    padding-right: 5px;
  }

  td.td_IaIcAV_pie{
    background-color: black;
  }

  img.img_IaIcAv2{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  .pdk{
    cursor: pointer;
    padding-left: 50px;
  }

  input.input_IaIcAV3{
    color: black;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: none;
  }

  img.img_IaIcAv3{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  div.div_BXjm1q{
    padding-top: 5px;
  } 

  i{
    cursor: pointer;
  }

  input.input_IaIcAV3{
    background-color: transparent;
    color: white;
  }

  img.img_IaIcAv{
    color: white;
  }

  .h1_IaI_1{
    font-size: 7em;
  }

  input.input_IaIcAV4{
    width: 100%;
    text-align: center;
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1.5em;
  }